.Bandeaux {
	background-color: #F3D9D3;
	width: 750px;
	height: 200px;
	margin: 0;
	padding: 0;
}
.grid1 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 100%;
}
.PhotoProfil {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
}
.magueule {
	width: 150px;
	height: auto;
	margin-top: 65px;
	margin-left: 30px;

}

.NomPrenom {
	width: 400px;
	border-bottom-style: solid;
	margin-top: 35px;
	margin-left: 55px;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	font-size: 35px;
	font-weight: bold;
}
body {
	background-color: #FDF9F8;
	width: 750px;
}
.ProfilTxt{
	margin-top: 50px;
	font-size: 20px;
	background-color: black;
	color: white;
	width: 175px;
	text-align: center;
	margin-left: 20px;
}

.CompétencesTxt{
	font-size: 20px;
	background-color: black;
	color: white;
	width: 175px;
	text-align: center;
	margin-left: 20px;
}




.adresse {
	display: grid;
	grid-template-columns: repeat(2, 70px);
	grid-gap: 10px;
	grid-auto-rows: 30px;
	grid-template-areas:
	    "a b"
	    "c c";
	align-items: start;
}
.iconmap {
	margin-top: 10px;
	margin-left: 50px;
	grid-area: a;
	width: 25px;
	height: auto;
}
.adresseTxt {
	margin-left: 0;
	grid-area: b;
	font-weight: bold;
	text-align: left;

}
.Bouton1 {
	grid-area: c;
	margin-left: 10px;
	text-align: right;
}

.E-Mail {
		display: grid;
	grid-template-columns: repeat(2, 70px);
	grid-gap: 10px;
	grid-auto-rows: 30px;
	grid-template-areas:
	    "a b"
	    "c c";
	align-items: start;
}
.emailecon {
	margin-top: 10px;
	margin-left: 50px;
	grid-area: a;
	width: 25px;
	height: auto;
}
.email{
	margin-left: 0;
	grid-area: b;
	font-weight: bold;
	text-align: left;
}
.emailTxt {
	grid-area: c;
	margin-left: 10px;
	text-align: right;
	margin-top: 0;
}

.Telephone {
	display: grid;
	grid-template-columns: repeat(2, 70px);
	grid-gap: 10px;
	grid-auto-rows: 30px;
	grid-template-areas:
	    "a b"
	    "c c";
	align-items: start;
}
.telicon {
	margin-top: 10px;
	margin-left: 50px;
	grid-area: a;
	width: 25px;
	height: auto;
}
.tel {
	margin-left: 0;
	grid-area: b;
	font-weight: bold;
	text-align: left;
}
.telTxt {
	grid-area: c;
	margin-left: 10px;
	text-align: right;
	margin-top: 0;
}
.DateNaissance {
	display: grid;
	grid-template-columns: repeat(2, 70px);
	grid-gap: 10px;
	grid-auto-rows: 30px;
	grid-template-areas:
	    "a b"
	    "c c";
	align-items: start;
}
.DateNaissanceIcon {
	margin-top: 20px;
	margin-left: 50px;
	grid-area: a;
	width: 25px;
	height: auto;
}
.date {
	margin-left: 0;
	grid-area: b;
	font-weight: bold;
	text-align: left;
}
.dateTxt {
	grid-area: c;
	margin-left: 10px;
	text-align: right;
	margin-top: 13px;
}
.grid5 {
	display: grid;
	grid-template-rows: repeat(4, 30px);
	grid-gap: 10px;
	grid-template-areas:
	    "a"
	    "b"
	    "c"
	    "d";
	align-items: start;
}
.Comp1 {
	grid-area: a;
	margin-left: 75px;
	font-weight: bold;
}
.Comp2 {
	grid-area: b;
	margin-left: 75px;
	font-weight: bold;
}
.Comp3 {
	grid-area: c;
	margin-left: 75px;
	font-weight: bold;
}
.Comp4 {
	grid-area: d;
	margin-left: 75px;
	font-weight: bold;
}
.Loisirs {
	display: grid;
	grid-template-columns: repeat(2, 70px);
	grid-rows: 40px 40px 40px 40px 40px;
	grid-gap: 10px;
	grid-template-areas:
	    "a f"
	    "b g"
	    "c h"
	    "d i"
	    "e j";
	align-items: start;
}
.LoisirsTxt {
	font-size: 20px;
	background-color: black;
	color: white;
	width: 175px;
	text-align: center;
	margin-left: 20px;
	grid-area: a;

}
.basketicon {
	width: 25px;
	height: auto;
	grid-area: b;
	margin-left: 50px;
	margin-top: 11px;
}

.basketTxt {
	font-weight: bold;
	grid-area: g;
}
.gamingicon {
	width: 25px;
	height: auto;
	grid-area: c;
	margin-left: 50px;
	margin-top: 13px;

}
.gamingTxt {
	font-weight: bold;
	grid-area: h;
}
.musiqueicon {
	width: 25px;
	height: auto;
	grid-area: d;
	margin-left: 50px;
	margin-top: 12px;

}
.musiqueTxt {
	font-weight: bold;
	grid-area: i;
}
.sporticon {
	width: 25px;
	height: auto;
	grid-area: e;
	margin-left: 50px;
	margin-top: 13px;
}
.sportTxt {
	font-weight: bold;
	grid-area: j;
}


.grid2 {
	display: grid;
	grid-template-columns: 250px 500px;
	grid-template-rows: 200px 200px 100px 100px 200px 400px;
	grid-gap: 10px;
	grid-template-areas:
	    "a d"
	    "b e"
	    "c  ";
	align-items: start;
}
.Profil {
	grid-column-start: 1;
	grid-row-start: 1;
}
.Compétences {
	grid-column-start: 1;
	grid-row-start: 3;
}
.Loisirs {
	grid-column-start: 1;
	grid-row-start: 5;
}
.Experiences {
	grid-column-start: 2;
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 70px 400px;
	grid-template-rows: 70px 70px 70px 70px;
	grid-gap: 10px;
	grid-template-areas:
	    "a d"
	    "b e"
	    "c f"
	    "g h";
	align-items: start;
}
.Formations {
	grid-column-start: 2;
	grid-row-start: 4;
	grid-column-start: 2;
	grid-row-start: 2;
	margin-top: 300px;
	display: grid;
	grid-template-columns: 70px 400px;
	grid-template-rows: 70px 70px 70px 70px;
	grid-gap: 10px;
	grid-template-areas:
	    "a d"
	    "b e"
	    "c f"
	    "g h";
	align-items: start;
}
.Formationicon {
	grid-area: a;
	width: 45px;
	height: auto;
	margin-left: 25px;
	margin-top: 5px;
}
.Experienceicon {
	grid-area: a;
	width: 45px;
	height: auto;
	margin-left: 25px;
	margin-top: 2px;
}

.ExperiencesTxt {
	font-size: 20px;
	background-color: black;
	color: white;
	width: 380px;
	margin-left: 20px;
	grid-area: d;

}
.FormationsTxt {
	font-size: 20px;
	background-color: black;
	color: white;
	width: 380px;
	margin-left: 20px;
	grid-area: d;
}
.date1 {
	grid-area: b;
	margin-top: 10px;
}
.date2 {
	grid-area: c;
	margin-top: 10px;
}
.date3{
	grid-area: g;
	margin-top: 10px;
}
.Fdate1 {
	grid-area: b;
	margin-top: 10px;
}
.Fdate2 {
	grid-area: c;
	margin-top: 10px;
}
.Fdate3 {
	grid-area: g;
	margin-top: 10px;
}
.Formation1 {
	grid-area: e;
	margin-bottom: 10px;
}
.Formation2 {
	grid-area: f;
	margin-bottom: 10px;
}
.Formation3 {
	grid-area: h;
	margin-bottom: 10px;
}
.Experience1 {
	grid-area: e;
	margin-bottom: 10px;
}
.Experience2 {
	grid-area: f;
	margin-bottom: 10px;
}
.Experience3 {
	grid-area: h;
	margin-bottom: 10px;
}
.Lorem{
	grid-row-start: 1;
	grid-column-start: 2;
	margin-top: 80px;
}